<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyulu.mapper.BillsMapper">
    <insert id="addBills">
        insert into bills (clientId, vfi, discountRate, paymentMethod, payment, payTime)
        values (#{clientId}, #{vfi}, #{discountRate}, #{paymentMethod}, #{payment}, #{payTime})
    </insert>

    <select id="queryMyBills" resultType="com.shiyulu.pojo.Bills">
        SELECT * FROM bills WHERE clientId = #{clientId}
    </select>

    <select id="listBills" resultType="com.shiyulu.pojo.Bills">
        select * from bills
        <where>
            <if test="clientId != null">
                bills.clientId = #{clientId}
            </if>
        </where>
    </select>

</mapper>