<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyulu.mapper.ClientMapper">
    <select id="selectVehicleFaultInfoByVins" resultType="com.shiyulu.pojo.VehicleFault">
        SELECT * FROM vehiclefault
        <where>
            vin IN
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <update id="updateInfo">
        update client
        <set>
            <if test="clientType != null">
                clientType = #{clientType},
            </if>
            <if test="discountRate != null">
                discountRate = #{discountRate},
            </if>
            <if test="businessContact != null and businessContact != ''">
                businessContact = #{businessContact},
            </if>
            <if test="businessTele != null and businessTele != ''">
                businessTele = #{businessTele}
            </if>
        </set>
        where clientId = #{clientId}
    </update>
</mapper>