<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyulu.mapper.ClientMapper">
    <select id="selectVehicleFaultInfoByVins" resultType="com.shiyulu.pojo.VehicleFault">
        SELECT * FROM vehiclefault
        <where>
            vin IN
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <update id="updateInfo">
        update client
        <set>
            <if test="clientName != null and clientName != ''">
                clientName = #{clientName},
            </if>
            <if test="clientType != null">
                clientType = #{clientType},
            </if>
            <if test="discountRate != null">
                discountRate = #{discountRate},
            </if>
            <if test="businessContact != null and businessContact != ''">
                businessContact = #{businessContact},
            </if>
            <if test="businessTele != null and businessTele != ''">
                businessTele = #{businessTele}
            </if>
        </set>
        where clientId = #{clientId}
    </update>

    <select id="selectAllClientInfo" resultType="com.shiyulu.pojo.Client">
        select * from client
        <where>
            <if test="clientName!=null and clientName!= ''">
                client.clientName like CONCAT('%', #{clientName}, '%')
            </if>
            <if test="clientType!=null">
                and client.clientType = #{clientType}
            </if>
        </where>
    </select>

    <select id="queryOwnCar" resultType="com.shiyulu.pojo.Vehicle">
        select * from vehicle
        <where>
            <if test="vehicleType!=null and vehicleType!=''">
                vehicle.vehicleType = #{vehicleType}
            </if>
            <if test="vehicleColor!=null and vehicleColor!=''">
                and vehicle.vehicleColor = #{vehicleColor}
            </if>
            <if test="clientId!=null">
                and vehicle.clientId = #{clientId}
            </if>
        </where>
    </select>

    <select id="selectAllVehicleInfo" resultType="com.shiyulu.pojo.Vehicle">
        select * from vehicle
        <where>
            <if test="vehicleType!=null and vehicleType!=''">
                vehicle.vehicleType = #{vehicleType}
            </if>
            <if test="vehicleColor!=null and vehicleColor!=''">
                and vehicle.vehicleColor = #{vehicleColor}
            </if>
            <if test="clientId!=null">
                and vehicle.clientId = #{clientId}
            </if>
        </where>
    </select>
</mapper>