<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyulu.mapper.EmpMapper">
    <select id="queryByAccount" resultType="com.shiyulu.pojo.Emp">
        select * from emp where emp.account = #{account}
    </select>

    <select id="queryList" resultType="com.shiyulu.pojo.Emp">
        select * from emp
        <where>
            <if test="empType!=null">
                emp.empType = #{empType}
            </if>
        </where>
    </select>

    <update id="updateEmp">
        update emp
        <set>
            <if test="empName != null and empName != '' ">
                empName = #{empName},
            </if>

            <if test="empType != null">
                empType = #{empType},
            </if>
        </set>
        where emp.empId = #{empId}
    </update>

    <select id="isExist" resultType="integer">
        select emp.empId from emp where emp.account = #{account}
    </select>

    <insert id="addEmp">
        insert into emp(empName, empType, account) values(#{empName}, #{empType}, #{account})
    </insert>

    <select id="queryMyInfo" resultType="com.shiyulu.pojo.Emp">
        select * from emp where emp.account = #{account}
    </select>
</mapper>