<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyulu.mapper.FrontDeskMapper">
    <insert id="addCar">
        insert into vehicle(vin, license, vehicleType, vehicleColor, clientId, createTime, updateTime, vehicleImage)
        values (#{vin}, #{license}, #{vehicleType}, #{vehicleColor}, #{clientId}, #{createTime}, #{updateTime}, #{vehicleImage})
    </insert>

    <delete id="deleteCar">
        delete from vehicle where vin = #{vin}
    </delete>

    <select id="queryCarBelong" resultType="com.shiyulu.pojo.Vehicle">
        select * from vehicle where clientId = #{clientId} and vin = #{vin}
    </select>

    <update id="updateCar">
        update vehicle
        <set>
            <if test="license != null and license != '' ">
                license = #{license},
            </if>

            <if test="vehicleType != null">
                vehicleType = #{vehicleType},
            </if>

            <if test="vehicleColor != null and vehicleColor != '' ">
                vehicleColor = #{vehicleColor},
            </if>

            <if test="clientId != null">
                clientId = #{clientId},
            </if>

            <if test="updateTime != null">
                updateTime = #{updateTime}
            </if>

            <if test="vehicleImage != null">
                vehicleImage = #{vehicleImage}
            </if>
        </set>
        where vehicle.vin = #{vin}
    </update>

    <select id="queryCarByVin" resultType="com.shiyulu.pojo.Vehicle">
        select * from vehicle where vin = #{vin}
    </select>


    <select id="queryAllClientInfo" resultType="com.shiyulu.pojo.ClientUser">
        select user.account,user.password,user.userType,user.username,user.avatar,user.email,user.phone,user.createTime,user.updateTime,
               client.clientId,client.clientName,client.clientType,client.discountRate,client.businessContact,client.businessTele
        from user inner join client on user.account = client.account
        <where>
            <if test = "clientType != null">
                clientType = #{clientType}
            </if>
        </where>
    </select>

    <select id="queryClient_Car" resultType="com.shiyulu.pojo.Vehicle">
        select * from vehicle where clientId = #{clientId}
    </select>

    <select id="queryAllCarInfo" resultType="com.shiyulu.pojo.VehicleAndOwner">
        select user.account,user.password,user.userType,user.username,user.avatar,user.email,user.phone,
                client.clientId,client.clientName,client.clientType,client.discountRate,client.businessContact,client.businessTele,
                vehicle.vin,vehicle.license,vehicle.vehicleType,vehicle.vehicleColor,vehicle.createTime,vehicle.updateTime,vehicle.vehicleImage
        from user inner join client on user.account = client.account inner join vehicle on client.clientId = vehicle.clientId
        <where>
            <if test = "vehicleType != null">
                vehicleType = #{vehicleType}
            </if>

            <if test="vehicleColor != null and vehicleColor != '' ">
                vehicleColor = #{vehicleColor}
            </if>
        </where>
    </select>

    <select id="queryClientById" resultType="com.shiyulu.pojo.Client">
        select * from client where clientId = #{clientId}
    </select>

</mapper>